[submodule "submodules/indigo-stylesheet"]
	path = submodules/indigo-stylesheet
	url = https://github.com/PsychedelicShayna/indigo-stylesheet
[submodule "submodules/qt-hotkey-recorder-widget"]
	path = submodules/qt-hotkey-recorder-widget
	url = https://github.com/PsychedelicShayna/qt-hotkey-recorder-widget
[submodule "submodules/qt-process-scanner-widget"]
	path = submodules/qt-process-scanner-widget
	url = https://github.com/PsychedelicShayna/qt-process-scanner-widget
	branch = include
[submodule ".\\qt-hotkey-recorder-widget\\"]
	branch = include
